<section>
    <div class="three-images-wrapper">
         {%if section.settings.img != blank%}
            <div class="one-user">
              
            </div>
            {% else %}
            <div class="one">
                <h2>one</h2>
            </div>
         {%endif%}

         {%if section.settings.img2 != blank%}
            <div class="two-user">
               
            </div>
            {% else %}
            <div class="two">
                <h2>two</h2>
            </div>
         {%endif%}

         {%if section.settings.img3 != blank%}
            <div class="three-user">
              
            </div>
            {% else %}
            <div class="three">
                <h2>one</h2>
            </div>
         {%endif%}

    </div>
</section>


<style>
    .three-images-wrapper{
        display: flex;
        margin-top:15rem;
        font-weight: bold;
    }
    .one{
        background-image: url("{{'one.png' |  asset_img_url}}");
        width:33.3333%;
        height: 50rem;
        background-size: cover;
        background-position: center;
    }
    .one-user{
        background-image: url("{{section.settings.img | image_url}}");
        width:33.3333%;
        height: 50rem;
        background-size: cover;
        background-position: center;
    }
    .two{
        background-image: url("{{'two.png' |  asset_img_url}}");
        width:33.3333%;
        height: 50rem;
        background-size: cover;
        background-position: center;
    }
    .two-user{
        background-image: url("{{section.settings.img2 | image_url}}");
        width:33.3333%;
        height: 50rem;
        background-size: cover;
        background-position: center;
    }.three{
        background-image: url("{{'three.png' |  asset_img_url}}");
        width:33.3333%;
        height: 50rem;
        background-size: cover;
        background-position: center;
    }
    .three-user{
        background-image: url("{{section.settings.img3 | image_url}}");
        width:33.3333%;
        height: 50rem;
        background-size: cover;
        background-position: center;
    }
</style>


{% schema  %} 
{
    "name":"three-images",
    "settings": [{
         "type":"image_picker",
        "id": "img",
        "label": "imgae picker",

    },
        {
            "type": "image_picker",
            "id": "img2",
            "label": "second image"
        },
    { 
        "type": "image_picker",
        "id": "img3",
        "label": "third image"

    }],
    "presets": [{
        "name":"three-images#"
    }]
}


{% endschema %}